* {
  box-sizing: border-box;
}

.root button {
  width: inherit;
  /* height: 4rem; */
  text-align: center;
  border-radius: 15px;
  -moz-border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

#dnf {
  background-color: #161e2d;
  color: ;
}

#dnf:hover, #dnf:focus {
  background-color: #161e2d;
}

#dnf:active {
  background-color: #161e2d;
  transition: 0.5s;
  position:relative;
  top:2px;
}

#dnf:disabled {
  background-color: #f1f3f3;
  color: #161e2d;
}

#carreset {
  background-color: #003181;
}

#carreset:hover, #carreset:focus {
  background-color: #003181;
}

#carreset:active {
  background-color: #003181;
  transition: 0.5s;
  position:relative;
  top:2px;
}

#carreset:disabled {
  background-color: #f1f3f3;
  color: #161e2d;
}

#capturelap {
  background: #ff9900;
}

#capturelap:hover, #capturelap:focus {
  background: #ff9900;
}

#capturelap:active {
  background: #ff9900;
  transition: 0.5s;
  position:relative;
  top:2px;
}

#capturelap:disabled {
  background-color: #f1f3f3;
  color: #161e2d;
}

#undoreset {
  background-color: #ffc107;
}

#undoreset:hover, #undoreset:focus {
  background-color: #ffca2c;
}

#undoreset:active {
  background-color: #ffca2c;
  transition: 0.5s;
  position:relative;
  top:2px;
}

#undoreset:disabled {
  background-color: #f1f3f3;
  color: #161e2d;
}

#undofalsefinish {
  background-color: #d4dada;
}

#undofalsefinish:hover, #undofalsefinish:focus {
  background-color: #d4dada;
}

#undofalsefinish:active {
  background-color: #d4dada;
  transition: 0.5s;
  position:relative;
  top:2px;
}

#undofalsefinish:disabled {
  background-color: #f1f3f3;
  color: #161e2d;
}

#endrace {
  background-color: #161e2d;
}

#endrace:hover, #endrace:focus {
  background-color: #161e2d;
}

#endrace:active {
  background-color: #161e2d;
  transition: 0.5s;
  position:relative;
  top:2px;
}

#endrace:disabled {
  background-color: #f1f3f3;
  color: #161e2d;
}

#resumerace {
  background: #ff9900;
}

#startrace {
  background-color: #ff9900;
}

#startrace:hover, #startrace:focus {
  background-color: #ff9900;
}

#startrace:active {
  background-color: #ff9900;
  transition: 0.5s;
  position:relative;
  top:2px;
}
