*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
.python-version
*.egg-info
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.outputs
cdk.context.json

lambda/get_smg_trains_simple/images
lambda/get_smg_trains_simple/data.json
node_modules

# IDE
.vscode
