*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
.python-version
*.egg-info
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.outputs
cdk.context.json
cfn.outputs

node_modules

# IDE
.coverage
.VSCodeCounter

branch.txt
email.txt
s3_bucket.txt
build.config
drem.zip
reports
htmlcov
website/src/graphql/schema.graphql
website/src/graphql/mutations.js
website/src/graphql/queries.js
website/src/graphql/subscriptions.js
website-leaderboard/src/graphql/schema.graphql
website-leaderboard/src/graphql/mutations.js
website-leaderboard/src/graphql/queries.js
website-leaderboard/src/graphql/subscriptions.js
website-stream-overlays/src/graphql/schema.graphql
website-stream-overlays/src/graphql/mutations.js
website-stream-overlays/src/graphql/queries.js
website-stream-overlays/src/graphql/subscriptions.js
appsyncId.txt
website/public/pico-display/


lib/*.js
lib/constructs/**/*.js
bin/**/*.js
test/**/*.js
!jest.config.js
*.d.ts
!**/vite-env.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# scratchpad notes
scratch.txt
build.log
