stages:
  - zip
  - upload

zip_repo:
  only:
    - main
    - release
    - esbjj
    - cdk-pipeline-askwith
    - dasmthc
  stage: zip
  image:
    name: ubuntu
  script:
    - apt-get -y update
    - apt-get -y install zip
    - echo $CI_COMMIT_REF_NAME > branch.txt
    - echo $EMAIL > email.txt
    - zip -r drem.zip .
  artifacts:
    paths:
    - drem.zip

upload_to_s3:
  only:
    - main
    - release
    - esbjj
    - cdk-pipeline-askwith
    - cdk-pipeline-dasmthc
  stage: upload
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  script:
    - aws --version
    - ls drem.zip -lah
    - echo $AWS_DEFAULT_REGION
    - aws s3 cp drem.zip s3://$AWS_S3_BUCKET/$CI_COMMIT_REF_NAME/

