.loadImage {
  width: 70vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageRoot {
  display: flex;
  justify-content: center;
}
.leaderboardRoot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  /* margin-left: 5%; */
  max-width: 130vmin;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/*
ul {
  padding-left: 0;
  list-style: none;
}

.moduleBase {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 650;
  perspective: 100vw;
}

.eventHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eventDetails {
  top: 4.5rem;
  left: calc(50% - 50vmin + 22.5rem);
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  transition: opacity 200ms 500ms linear;
}

.moduleList {
  top: 25rem;
  left: 5rem;
  right: 5rem;
  transition: opacity 200ms 500ms linear;
}
.modulePosition {
  margin-left: 2rem;
}

.moduleHeaders {
  display: flex;
  bottom: 100%;
  left: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  height: 5rem;
  letter-spacing: 0.15ch;
  align-items: center;
}

.moduleRacer {
  margin-left: 2rem;
}

.moduleResults {
  margin-left: auto;
  margin-right: 2rem;
}
.moduleTime {
  text-align: right;
  flex: 1 1 0px;
  white-space: nowrap;
  position: relative;
}

.liPosition {
  margin-left: 2rem;
  font-size: 1.5em;
  font-weight: bold;
}

.liRacer {
  margin-left: 8rem;
  font-weight: 300;
}

.liTime {
  margin-left: auto;
  margin-right: 2rem;
  font-size: 1.4em;
}

.moduleRow {
  width: 100%;
  height: 3em;
  line-height: 3em;
  border-radius: 1.5rem;
  background: rgba(113, 36, 131, 0.3);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(0, 255, 235, 0.2), rgba(117, 38, 134, 0.2));
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 30%), 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
  font-size: 3rem;
  z-index: 100;
  transition: top 600ms ease, z-index 100ms 800ms linear, transform 300ms 500ms ease,
    font-size 600ms ease;
  margin: 10px;
}

.listEntry {
  display: flex;
  font-weight: bold;
  font-size: 1.5em;
  color: inherit;
  transition: color 600ms linear;
}

.isNew {
  z-index: 200;
  transform: scale(1.1);
}

.gold, .silver, .bronze {
  font-size: 4rem;
}

.gold .position, .silver .position, .bronze .position {
  color: rgba(0,0,0,0.5);
  text-shadow: 0 .3rem 0 rgba(255,255,255,0.7);
}

.gold .name, .silver .name, .bronze .name {
  text-shadow: 0 .3rem .2rem rgba(0,0,0,0.3);
}

.bronze {
  background: transparent;
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0)), linear-gradient(90deg,#FCAE4D,#672F04);
}

.silver {
  background: transparent;
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0)), linear-gradient(90deg,#c1c1c5,#44464c);
}

.gold {
  background: transparent;
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0)), linear-gradient(90deg,#f0ba0a,#C47400);
}

.highlight {
  box-shadow: 0 0 0 .5rem #0095ff;
}


.logoContainer {
  height: 150vh;
  width: 150vh;
} */
