.footerRoot {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vmin;
  padding-top: 3vmin;
  background: linear-gradient(transparent, #310e59 35%, #8c28ff);
  z-index: 100;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 3vmin;
  font-weight: 600;
}