.headerRoot {
  display: flex;
  top: 0;
  width: 100%;
  color: white;
  text-align: left;
  text-align: left;
  z-index: 1000;
  align-items: center;
}

.headerText {
  font-size: 6vmin;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
}

.logo {
  max-width: 19vmin;
}
