.footerRoot {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1vmin;
  background: linear-gradient(
    120deg,
    #7305a0 0%,
    #2f0c67 80%,
    #fff 80%,
    #fff 85%,
    transparent 85%,
    transparent
  );
  background-repeat: no-repeat;
  background-size: 130% 130%;
  color: white;
  text-align: left;
  justify-content: space-around;
  z-index: 3000;
  /* transition: all 2s linear; */
  font-size: 1vmin;
  animation-name: slide;
  animation-duration: 4s;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 1.2;
}

.racerCountryFlag {
  display: inline-block;
  /*padding-left: 2vw;*/
  padding-right: 1vw;
}

@keyframes slide {
  from {
    background-size: 1% 130%;
  }
  to {
    background-size: 130% 130%;
  }
}

@keyframes slide {
  from {
    background-size: 1% 130%;
  }
  to {
    background-size: 130% 130%;
  }
}

.footerBigHeader {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footerSmallHeader {
  font-size: 2em;
  font-weight: bold;
  color: #a39f9f;
  font-style: italic;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footerNormalText {
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 1vmin;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
